/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: "Space Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  .line-numbers-rows {
    border-right-color: $primary-color;

    span::before {
      color: #fff;
    }
  }

  @media (max-width: 700px) {
    font-size: 0.8rem !important;
  }
}

// pre[class*="language-"] {
//     &:before {
//     content: attr(data-language);
//     border-bottom-left-radius: 0.25rem;
//     color: rgb(255, 255, 255);
//     font-size: 0.75rem;
//     // font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
//     // font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
//     letter-spacing: 0.075em;
//     line-height: 1;
//     position: absolute;
//     right: 0px;
//     text-align: right;
//     text-transform: uppercase;
//     top: 0px;
//     z-index: 5;
//     background: rgb(30, 136, 229);
//     padding: 0.25rem 0.5rem;
//   }
// }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0 0.8rem;
  border-radius: 0.3em;
  white-space: normal;
  background: #2d2d2d;
  color: $secondary-color;

  @media (max-width: 700px) {
    font-size: 1.4375rem !important;
  }

  @media (max-width: 700px) {
    font-size: 1rem !important;
  }
}

h1 > code[class*="language-"] {

  @media (max-width: 700px) {
    font-size: 2rem !important;
  }
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #0077b6;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #ef476f;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}
