---
title: My Rad Blog
layout: main
---
<article class="post">
  <section class="post-meta">
    <h1 class="post-title">{{ title }}</h1>
    <time class="post-list-time">{{ date | formatDate }}</time>
  </section>
  <section class="post-content">
    {{ content | safe }}
    <div id="disqus_thread"></div>
  </section>
<script>
    var disqus_config = function () {
        this.page.url = '{{ site.url }}{{ permalink }}';
        this.page.identifier = '{{ site.url }}{{ permalink }}';
    };

    var isDisqusAdded = false;
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  <script src="/js/waypoints.min.js"></script>
</article>
<script>
    var waypoint = new Waypoint({
        element: document.getElementById('disqus_thread'),
        handler: function(direction) {
            if (!isDisqusAdded) {
                console.log('Disqus added')
                isDisqusAdded = true;
                var d = document, s = d.createElement('script');

                s.src = 'https://byoigres.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            }
        },
        offset: 'bottom-in-view'
    });
</script>
