---
title: My Rad Blog
layout: main
---
<article class="post">
  <section class="post-meta">
    <h1 class="post-title">{{ title }}</h1>
  </section>
  <section class="post-content">
    {{ content | safe }}
  </section>
  {# <p>{{ description }}</p>
  <p>{{ permalink }}</p> #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
  {%- for post in collections.post -%}
    {# {{ post.data.prism | dump }} #}
    {% if post.data.prism  %}
        {%- for lang in post.data.prism -%}
        {# <p>{{ lang }}</p> #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-{{ lang }}.min.js"></script>
        {%- endfor -%}
    {% endif %}
  {%- endfor -%}
</article>